
.circle{
	-webkit-animation: mymove 5s; 
	padding-top: 25px;
	position: relative;
	margin: auto;
    text-align:center;
    /*Circle dimensions*/
    data-dimension="300";
    data-width="50";
}
#mostPopularChampions {
	margin: auto;
	width: 75%;
}
#mostPopularChampions th{
	text-align: center;
}
/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    0%   {left: 2000px;}
    40% {left: 0px;}
    100% {left: 0px;}
}
