
.circle{ 
    padding-top: 25px;
    position: relative;
    margin:0;
    text-align:center;
}
 
@-webkit-keyframes mymove {
    0%   {left: 2000px;}
    40% {left: 0px;}
    100% {left: 0px;}
}
